@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
}
body{
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    text-align: center;
}
.filter-container{
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}
.filter{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
}
.filter:focus{
    box-shadow: 0px 0px 15px #fff;
}

.posts-container{
   width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post{
    border-color: rgba(255, 248, 150, 0.788);
    border-style: solid;
    color: black;
    margin: 40px 0 0;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.post-title{
    margin-bottom: 15px;
}
.post-body{
    line-height: 1.3;
}

.numerito{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.loader{
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.1s ease-in;
}
.circulito{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: rebotanding 0.5s ease-in infinite;
}

.circulito:nth-last-of-type(2){ /*GEDE ESTO */
    animation-delay: 0.1s;
    background-color: blueviolet;
}
.circulito:nth-last-of-type(3){
    animation-delay: 0.1s;
    background-color: white
}
@keyframes rebotanding {
    0%, 100%{ 
        transform:  translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}