footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #20002c;  /* fallback for old browsers */   
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 25px 0px;
}

footer article{
    display: flex;
    padding: 20px 0;
    gap: 1rem;
    font-size: 36px;
}
footer img{
    max-width: 30%;
}