@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
.App {
  text-align: center;
  background-color: blueviolet;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FAFAFA;
  font-family: 'Monda', sans-serif;
}

