*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cabecera{
    background-color: rgb(247 222 130);
    padding: 50px;
}
#menu{
    color: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}
#menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
#menu ul li:hover{
    background-color: blanchedalmond;
}
#inicio{
    display: flex;
    justify-content: space-around;
}

.contenido{
    display: flex;
    flex-direction: column;
}
.btn{
    padding: 0.7rem;
    margin: 0.8rem;
    border-radius: 0.5rem;
    background-color: rgb(12 77 162);
    color: white;
    border-style: none;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 2px 2px 2px palevioletred;
}
.informacion{
    display: flex;
    flex-direction: column;
    background-color: rgb(12 77 162);
    text-align: center;
    color: white;
    padding: 50px;
}
.informacion .subtitulo{
    margin-bottom: 20px;
}
.subtitulo h2{
    margin-bottom: 10px;
}
.sin-stock{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    visibility: hidden;
    transform: rotate(-0.1turn);
}
.caracteristica{
    display: flex;
    justify-content: space-around;
    text-justify: auto;
}
.tarjeta-caracteristica{
    width: 10rem;
}
.tarjeta-caracteristica p{
    padding: 15px;
}
.grilla{
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 50px;

}
.grilla h2{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    padding: 20px 0;
}
.card-poke{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow:  0px 0px 10px 0px #b1b1b1;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.card-poke p{
    padding: 0.2rem;
    margin: 0;
    text-align: center;
}
.card-poke .btn{
    background-color: rgb(247 222 130);
}

#carro{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
#carro ul li{
    list-style: none;
}
.carro-item{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 250px;
}
.carro-item img{
    height: 50px;
    height: 50px;
    border-radius: 50%;
}
#footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(12 77 162);
    padding: 50px;
}
.sub-contorno{
    display: flex;
    justify-content: start;
    align-items: center;
}
.sub-contorno i{
    margin-right: 1rem;
}
.contorno{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Puntos de quiebre*/

@media screen and (max-width: 500px) {
    #menu{
        flex-direction: column;
    }
    #inicio{
        flex-direction: column;
    }
    #cabecera{
        padding: 10px;
    }
    .informacion{
        padding: 10px;
    }
    #carro{
        padding: 10px;
    }
    .caracteristica{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grilla{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    #footer{
        padding: 10px;
    }
    .contorno{
        flex-direction: column;

    }
}