*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    width: 100%; /*nueva*/
    background-color: rgb(247 222 130);
    padding: 50px;
}

#btn-menu{/*nueva*/
    display: none;
}

header label {/*nueva*/
    display: none;
    font-size: 30px;
    margin: 30px;
    cursor: pointer;
}

header label:hover{/*nueva*/
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.menu ul li{
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
}
.menu li a {

    color: darkblue;
    text-decoration: none;
}
.menu li:hover{
    background: rgba(0,0,0,0.3);
}


.menu{
    color: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
/*
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.menu ul li:hover{
    background-color: blanchedalmond;
}*/
#inicio{
    display: flex;
    justify-content: space-around;
    gap: 45px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
}
.btn{
    padding: 0.7rem;
    margin: 0.8rem;
    border-radius: 0.5rem;
    background-color: rgb(12 77 162);
    color: white;
    border-style: none;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 2px 2px 2px palevioletred;
}
.informacion{
    display: flex;
    flex-direction: column;
    background-color: rgb(12 77 162);
    text-align: center;
    color: white;
    padding: 50px;
}
.informacion .subtitulo{
    margin-bottom: 20px;
}
.subtitulo h2{
    margin-bottom: 10px;
}
.sin-stock{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
   /* visibility: hidden;*/
    transform: rotate(-0.1turn);
}
.caracteristica{
    display: flex;
    justify-content: space-around;
    text-justify: auto;
}
.tarjeta-caracteristica{
    width: 10rem;
}
.tarjeta-caracteristica p{
    padding: 15px;
}
#grilla{
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 50px;

}
#grilla h2{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    padding: 20px 0;
}
.card-poke{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow:  0px 0px 10px 0px #b1b1b1;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.card-poke img{
    height: 215px;
    width: 215px;
}
.card-poke p{
    padding: 0.2rem;
    margin: 0;
    text-align: center;
}
.card-poke .btn{
    background-color: rgb(247 222 130);
}

#carro{
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    margin-top: 20%;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    overflow: hidden;
    backdrop-filter: blur(5rem);
}

#lista-pokemones{
    list-style: none;

}

#carro ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding: 0;
}

.carro-item{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 250px;
}
.carro-item img{
    height: 50px;
    height: 50px;
    border-radius: 50%;
}
#footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(12 77 162);
    padding: 50px;
}
.sub-contorno{
    display: flex;
    justify-content: start;
    align-items: center;
}
.sub-contorno i{
    margin-right: 1rem;
}
.contorno{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Puntos de quiebre*/

@media screen and (max-width: 500px) {
    header label {
        display: block;
    }
    header{
        padding: 10px;
    }
    .menu {
        position: absolute;
        background: #84a1aa;
        padding: 10px;
        text-align: center;
        width: 95%;
        margin-left: -100%;
        font-size: 48px;
        transition: all 1s;
        flex-direction: column;
        border-radius: 0.5rem;
    }
    .menu ul{
        flex-direction: column;
    }


    #btn-menu:checked ~ .menu {
        margin: 0;
    }

    #inicio{
        flex-direction: column;
    }
    .contenido{
        max-width: 100%;
    }
    .informacion{
        padding: 10px;
    }
    #carro{
        padding: 10px;
        font-size: 12px;
        margin-top: 330%;
        margin-left: -80%;
        width: 250%;
    }
    .caracteristica{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #grilla{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    #footer{
        padding: 10px;
    }
    .contorno{
        flex-direction: column;
        max-width: 70%;
    }
}

@media screen and (min-width: 1296px){
    .contenido{
        max-width: 30%;
    }
}